/node_modules

/vendor/jquery*/*
/vendor/moment/*

/vendor/vue/build
/vendor/vue/perf
/vendor/vue/src
/vendor/vue/dist/*.*
!/vendor/vue/dist/*.min.js

/vendor/uikit/css
/vendor/uikit/scss
/vendor/uikit/js/*.*
/vendor/uikit/js/*/*.*
!/vendor/uikit/**/*.min.js

.idea
.DS_Store
