//
// ZLUX Core
//
// ========================================================================


// Uikit
// ========================================================================

@import "uikit/variables.less";


/* Visibility - missing Mini breakpoint
========================================================================== */

.zlux {

	/* Desktop and bigger */
	@media (min-width: @breakpoint-large) {
		.zx-visible-mini { display: none !important; }
	}

	/* Only tablets portrait */
	@media (min-width: @breakpoint-medium) and (max-width: @breakpoint-medium-max) {
		.zx-visible-mini { display: none !important; }
	}

	/* Phone landscape */
	@media (min-width: @breakpoint-mini-max) and (max-width: @breakpoint-small-max) {
		.zx-visible-mini { display: none !important; }
	}

	/* Phones portrait and smaller */
	@media (max-width: @breakpoint-mini-max) {
		.zx-hidden-mini { display: none !important; }
	}

}


/* Forms - form-icon fix
========================================================================== */

.zlux .uk-form-icon [class*='uk-icon-'] { 
	pointer-events: none;
}


// Components
// ========================================================================

.zlux {
	@import "manager.less";
	@import "manager.files.less";
}