// Name:            Items Manager
// Description:     Defines styles for the Items Manager
//
// Component:       `zx-items-manager`
//
// ========================================================================


// Variables
// ========================================================================


/* ========================================================================
   Component: Manager
 ========================================================================== */

.zx-items-manager table thead span {

    cursor: default;

    &.zx-sortable {
        cursor: pointer;
    }

}